
a:link {
 color: #00FF00;
}
a:visited {
 color: #00FF00;
}
h1 {
 color: #FFFFFF;
}


h2 {
 color: #0000FF;
}

h3 {
 background-color: #FFFF00;
}

h4 {
 background-color: #006400;
}

h4 {
 color: #FFFF00;
}

h5 {
 color: #8F00FF;
}

.specialp {
 color: #FFA500;
}

#specialid {
 color: #ff0000;
}

#specialid2 {
 background-color: #90ee90;
}

#specialid3 {
 color: #FFA500;
}

#specialid4 {
 background-color: #89CFF0;
}
